[submodule "blog"]
	path = build/blog
	url = https://github.com/StephenCleary/blog-stephencleary-dotcom.git
	branch = gh-pages
	update = rebase
[submodule "www"]
	path = build/www
	url = https://github.com/StephenCleary/stephencleary-dotcom.git
	branch = gh-pages
	update = rebase
