<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
<script type="text/javascript">
    var disqus_loaded = false;
    $('.pager').waypoint({
        offset: 'bottom-in-view',
        handler: function () {
            console.log("Loading...");
            if (disqus_loaded)
                return;
            disqus_loaded = true;
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//stephencleary.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }
    });
</script>
