/* Layout Styles */
/* ----------------------------------------------------------*/

body {
    padding-top: 50px;
}

.affix {
    top: 70px;
    bottom: 0;
    overflow-y: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand-container.active>a, .navbar-brand-container.active>a:hover, .navbar-brand-container.active>a:focus {
    color: #3399f3;
    background-color: transparent;
}

.sidebar {
    margin-top: 20px;
}

.sidenavitem {
    height: auto;
}

.sidebar img {
    /* Responsive images */
    display: inline-block;
    height: auto;
    max-width: 100%;
}

@media(max-width:767px) {
    .affix {
        position: static;
    }
}

div .vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-header {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.project-icon {
    height: 128px;
    width: 128px;
}

.list-group-item h2 {
    margin-top: 10px;
}

/* Fixes for Google Custom Search in a Bootstrap page */
/* ----------------------------------------------------------*/
.google, .google *, .google *:before, .google *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.google table {
    border-collapse: separate;
}

.gsc-input-box {
    height: auto !important;
}

/* Fixes for Amazon widget in Bootstrap page */
.amzn_wdgt * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* Post styles */
/* ----------------------------------------------------------*/

code {
    background-color: #F2F3F9;
    color: inherit;
}

.post img {
    /* Responsive images */
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.post .table {
    table-layout: fixed;
}

.post .table code {
    white-space: normal;
}

.post .yes {
    color: #008000;
}

.post .no {
    color: #FF0000;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #008000 } /* Comment */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */

/* Comments */
/* ----------------------------------------------------------*/

.comment-container {
    margin-top: 10px;
}

.comment-container > .comment-container {
    margin-left: 2em;
}

.comment-container > .comment-container > .comment-container > .comment-container > .comment-container {
    margin-left: 0;
}

/* Correct anchor links in comments (they are offset by the height of the fixed header) */
.comment-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

img.comment-author-profile-image {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.comment-message {
    overflow-x: auto;
}