---
layout: default
id: 'index'
---

<div>
    {% if site.url == site.url_blog %}
    <h1>All Blog Posts</h1>
    <div class="list-group">
        {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item clearfix"><h2 class="pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></h2><h2>{{ post.title }}</h2></a>
        {% endfor %}
    </div>
    {% else %}
    <script>window.location.href = '{{ site.url_blog }}';</script>
    {% endif %}
</div>