<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
    {% include header.html %}

    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            {{ content }}
        </div>
        <div class="col-sm-2 col-md-3 col-md-offset-0 col-lg-2 col-lg-offset-1 affix" data-spy="affix" role="navigation">
            {% if page.series %}
                {% for orderedSeries in site.series %}
                    {% if orderedSeries.name == page.series %}
                        {% assign ordered = orderedSeries %}
                    {% endif %}
                {% endfor %}
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ page.series }}</div>
                    <div class="panel-body sidenav">
                        <ul class="nav nav-pills nav-stacked">
                            {% if ordered %}
                                {% for other in ordered.posts %}
                                    {% for sibling in site.posts %}
                                        {% if sibling.series == page.series and sibling.seriesTitle == other %}
                                            {% if sibling.id == page.id %}
                                                <li class="active sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                                            {% else %}
                                                <li class="sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                {% assign siblings = site.posts | sort 'date' %}
                                {% for sibling in siblings %}
                                    {% if sibling.series == page.series %}
                                        {% if sibling.id == page.id %}
                                            <li class="active sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                                        {% else %}
                                            <li class="sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2 col-md-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">About Stephen Cleary</div>
                <div class="panel-body">
                    <div class="center"><img src="{{ '/www.assets/Me-large.jpg' | prepend: site.url_www }}"/></div>
                    <div class="center">Stephen Cleary is a <a href="http://www.landmarkbaptist.ws/salvation">Christian</a>, <a href="http://picasaweb.google.com/stephenandmandy">husband, father,</a> and programmer living in Northern Michigan.</div>
                    <div class="center"><a href="http://mvp.microsoft.com/en-us/mvp/Stephen%20Cleary-5000058"><img class="mvp-logo" src="{{ '/www.assets/MVP.png' | prepend: site.url_www }}"/></a></div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">My book</div>
                <div class="panel-body center">
                    <div><a href="http://tinyurl.com/ConcurrencyCookbook"><img src="{{ '/www.assets/Book-small.jpg' | prepend: site.url_www }}"/></a></div>
                    <div>Available from <a href="http://tinyurl.com/ConcurrencyCookbook">O'Reilly</a> or <a href="http://tinyurl.com/ConcurrencyCookbookAmazon">Amazon</a>.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Advertisement</div>
                <div class="panel-body">
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2749292939902134" data-ad-slot="7584809820" data-ad-format="auto"></ins>
                </div>
            </div>
            {% if site.url == site.url_blog %}
            <div class="panel panel-primary">
                <div class="panel-heading">Popular Posts</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% post_url 2012-02-02-async-and-await %}">Async/await Intro</a></li>
                        <li><a href="{% post_url 2013-11-21-there-is-no-thread %}">There Is No Thread</a></li>
                        <li><a href="{% post_url 2012-07-12-dont-block-on-async-code %}">Don't Block on Async Code</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Series</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% post_url 2014-04-24-a-tour-of-task-part-0-overview %}">A Tour of Task</a></li>
                        <li><a href="{% post_url 2013-10-17-taskrun-etiquette-and-proper-usage %}">Task.Run Etiquette</a></li>
                        <li><a href="{% post_url 2013-05-02-taskrun-vs-backgroundworker-intro %}">Task.Run vs. BackgroundWorker</a></li>
                        <li><a href="{% post_url 2013-01-03-async-oop-0-introduction %}">Async OOP</a></li>
                        <li><a href="{% post_url 2009-04-30-tcpip-net-sockets-faq %}">TCP/IP .NET Sockets FAQ</a></li>
                        <li><a href="{% post_url 2013-10-10-managed-services-roundup %}">Managed Services</a></li>
                        <li><a href="{% post_url 2009-08-27-how-to-implement-idisposable-and %}">IDisposable and Finalizers</a></li>
                        <li><a href="{% post_url 2011-02-11-option-parsing-introduction %}">Option Parsing</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="google">
        <gcse:searchresults></gcse:searchresults>
    </div>
    
    {% include footer.html %}

</body>
</html>