<!DOCTYPE html>
<html>

  {% include head.html %}

<body>
    {% include header.html %}

    <div class="container-fluid">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            {{ content }}
        </div>
        <div class="col-sm-2 col-md-3 col-md-offset-0 col-lg-2 col-lg-offset-1 affix" data-spy="affix" role="navigation">
            {% if page.series %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ page.series }}</div>
                <div class="panel-body sidenav">
                    <ul class="nav nav-pills nav-stacked">
                        {% assign siblings = site.posts | sort 'date' | sort 'seriesIndex' %}
                        {% for sibling in siblings %}
                        {% if sibling.series == page.series %}
                        {% if sibling.id == page.id %}
                        <li class="active sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                        {% else %}
                        <li class="sidenavitem"><a href="{{ sibling.url }}">{{ sibling.seriesTitle }}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-2 col-md-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">About Stephen Cleary</div>
                <div class="panel-body">
                    <div><img src="{{ '/assets/Me-small.jpg' | prepend: site.baseurl }}"/></div>
                    <div>Stephen Cleary is a <a href="http://www.landmarkbaptist.ws/salvation">Christian</a>, <a href="http://picasaweb.google.com/stephenandmandy">husband, father,</a> and programmer living in Northern Michigan.</div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">My book</div>
                <div class="panel-body center">
                    <div><a href="http://tinyurl.com/ConcurrencyCookbook"><img src="{{ '/assets/Book-small.jpg' | prepend: site.baseurl }}"/></a></div>
                    <div>Available from <a href="http://tinyurl.com/ConcurrencyCookbook">O'Reilly</a> or <a href="http://tinyurl.com/ConcurrencyCookbookAmazon">Amazon</a>.</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Advertisement</div>
                <div class="panel-body">
                    For money.
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Popular Posts</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% post_url 2012-02-02-async-and-await %}">Async/await Intro</a></li>
                        <li><a href="{% post_url 2009-04-30-tcpip-net-sockets-faq %}">TCP/IP .NET Sockets FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Series</div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{% post_url 2014-04-24-a-tour-of-task-part-0-overview %}">A Tour of Task</a></li>
                        <li><a href="{% post_url 2013-05-02-taskrun-vs-backgroundworker-intro %}">Task.Run vs. BackgroundWorker</a></li>
                        <li><a href="{% post_url 2013-01-03-async-oop-0-introduction %}">Async OOP</a></li>
                        <li><a href="{% post_url 2011-02-11-option-parsing-introduction %}">Option Parsing</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="google">
        <gcse:searchresults></gcse:searchresults>
    </div>
    
    <script type="text/javascript">
    var disqus_shortname = 'stephencleary';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
    {% include footer.html %}

</body>
</html>