---
layout: default
---
<div class="post">

  <header>
      <div class="page-header">
          <h1>{{ page.title }}</h1>
          <small><time datetime="{{ page.date | date: '%F' }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.meta %} &bull; {{ page.meta }}{% endif %} &bull; <a data-disqus-identifier="{{ page.id | escape }}" href="#disqus_thread">Comments</a></small>
      </div>
  </header>

  <article>
  {{ content }}
  </article>
    
    <footer class="hidden-print">
        {% if page.series %}
            <ul class="pager">
                {% if page.seriesPrevious %}<li class="previous"><a href="{{ page.seriesPrevious.url }}" title="{{ page.seriesPrevious.title | escape }}">&larr; Previous in {{ page.series }}</a></li>{% endif %}
                {% if page.seriesNext %}<li class="next"><a href="{{ page.seriesNext.url }}" title="{{ page.seriesNext.title | escape }}">Next in {{ page.series }} &rarr;</a></li>{% endif %}
            </ul>
        {% endif %}
        
        <ul class="pager">
            {% if page.previous %}<li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title | escape }}">&larr; Previous Post</a></li>{% endif %}
            {% if page.next %}<li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title | escape }}">Next Post &rarr;</a></li>{% endif %}
        </ul>

        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </footer>
</div>