---
layout: default
---
<div class="post">

  <header>
      <div class="page-header">
          <h1>{{ page.title }}</h1>
          <small><time datetime="{{ page.date | date: '%F' }}">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.meta %} &bull; {{ page.meta }}{% endif %} &bull; <a id="comment-counter" href="#comments">Comments</a></small>
      </div>
  </header>

  <header>
    <div class="alert alert-info" markdown="1">
        <i class="fa fa-hand-o-right fa-2x pull-left"></i>
        
        <div>Has this blog been helpful? Please consider <a href="https://github.com/sponsors/StephenCleary" class="alert-link">supporting this blog (and my open-source libraries).</a> Thanks!</div>
        <div><i>For a limited time, GitHub will match your support.</i></div>
    </div>
  </header>

  <article>
  {{ content }}
  </article>
    
    <footer class="hidden-print">
        {% if page.series %}
            <ul class="pager">
                {% if page.seriesPrevious %}<li class="previous"><a href="{{ page.seriesPrevious.url }}" title="{{ page.seriesPrevious.title | escape }}">&larr; Previous in {{ page.series }}</a></li>{% endif %}
                {% if page.seriesNext %}<li class="next"><a href="{{ page.seriesNext.url }}" title="{{ page.seriesNext.title | escape }}">Next in {{ page.series }} &rarr;</a></li>{% endif %}
            </ul>
        {% endif %}
        
        <ul class="pager">
            {% if page.previous %}<li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title | escape }}">&larr; Previous Post</a></li>{% endif %}
            {% if page.next %}<li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title | escape }}">Next Post &rarr;</a></li>{% endif %}
        </ul>

        <div id="comments"></div>
    </footer>
</div>