/* Layout Styles */
/* ----------------------------------------------------------*/

html {
    font-size: 1.25rem;
}

body {
    padding-top: 70px;
    font-size: inherit;
}

pre {
    font-size: smaller;
}

.affix {
    top: 90px;
    bottom: 0;
    overflow-y: auto;
}

@media(max-width:1003px) {
    body {
        padding-top: 120px;
    }
    .affix {
        top: 140px;
    }
}

@media(max-width:767px) {
    body {
        padding-top: 70px;
    }
}

.navbar-brand {
    font-size: inherit;
    font-weight: bold;
}

.sidenavitem {
    height: auto;
}

.sidebar img {
    /* Responsive images */
    display: inline-block;
    height: auto;
    max-width: 100%;
}

@media(max-width:767px) {
    .affix {
        position: static;
    }
}

.page-header, .page-header h1 {
    margin-top: 0;
}

.center {
    text-align: center;
}

.mvp-logo {
    -moz-min-width: 177px;
    -ms-min-width: 177px;
    -o-min-width: 177px;
    -webkit-min-width: 177px;
    min-width: 177px;
    min-height: 72px;
}

/* Fixes for Google Custom Search in a Bootstrap navbar */
/* ----------------------------------------------------------*/
.google, .google *, .google *:before, .google *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.google table {
    border-collapse: separate;
}

.google-searchbox {
    max-width: 300px;
    padding-top: 4px;
}

.gsc-input-box {
    height: auto !important;
}

/* Post styles */
/* ----------------------------------------------------------*/

code {
    background-color: #F2F3F9;
    color: inherit;
}

.post img {
    /* Responsive images */
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.post .table {
    table-layout: fixed;
}

.post .table code {
    white-space: normal;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
